.footer {
    display: flex;
    width: 1280px;
    height: 120px;
    border-radius: 5px;
    align-items: center;
    background-color: #2c343e;
    margin: 350px 80px 88px 80px;
    justify-content: space-between;

    &__img {
        width: 236px;
        height: 26px;
        margin: 47px 102.9px 47px 85px;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
    }

    &__first-link {
        font-size: 12px;
        color: #83888f;
        font-weight: bold;
        line-height: 15px;
        font-style: normal;
        margin-right: 33px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Barlow", sans-serif;
    }

    &__second-list {
        display: flex;
        align-items: center;
        margin-left: auto;
        list-style-type: none;
        justify-content: space-between;

        &__item {

            &__link {
                &__img {
                    width: 24px;
                    height: 24px;
                    margin-right: 24px;
                }
            }

        }
    }
}